[submodule "src/data/RAVEN_FAIR"]
	path = src/data/RAVEN_FAIR
	url = git@github.com:johannes-langer/RAVEN_FAIR.git
[submodule "PyTorch_VAE"]
	path = src/representation/PyTorch_VAE
	url = git@github.com:johannes-langer/PyTorch-VAE.git
